body {
  background: #eeeeee;
}
.content {
  background: #fefefe;
  padding-bottom: 50px;
}
.col-center {
  margin: 10px auto;
  float: none !important;
  position: relative;
}
.vertical-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
#form-direction-toggle {
  margin-top: -5px;
}
.color-grey {
  background: #eeeeee;
}
a {
  cursor: pointer;
}
footer {
  border-top: 1px solid #dddddd;
  padding: 10px;
  background: #eeeeee;
  color: #aaaaaa;
}
